/* ---- Colours ---- */
$color-dark: #333;
$color-light: #F5F5F5; /* whitesmoke */

/* ---- Mixins ---- */
@mixin universal-styles {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---- Styles ---- */
* {
    @include universal-styles;
}

body {
    width: 1140px;
    padding: 30px;
    background-image: url("../img/roman-bozhko-PypjzKTUqLo-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 18px;
    line-height: 1.7;
    letter-spacing: 1.2px;
    text-align: center;
    color: $color-dark;
}

/*---- The Form Section ----*/

.form-heading {
    font-family: 'Caveat', cursive;
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 81px;
    letter-spacing: 2px;
    font-weight: 500;
}

.form-paragraph {
    font-style: italic;
}

.form {
    padding: 30px;
    width: 70%;

    &__data {
        display: flex;
        justify-content: flex-end;
    }

    &__label {
        margin-right: 10px;
    }

    &__input {
        padding: 8px;
        margin-bottom: 10px;
        font-family: inherit;
        border-radius: 2px;
        border: none;
        font-size: 14px;
        width: 250px;
        
        &:focus {
            outline: none;
        }
    }

    &__button {
        display: flex;
        justify-content: flex-end;
    }
}

.button {
    padding: 10px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    font-size: 12px;
    letter-spacing: 1px;
    transition-duration: .55s;
    
    &:hover {
        cursor: pointer;
        background-color: $color-dark;
        color: $color-light;
    }
}

/*---- The Profiles Section ----*/

.section-profiles {
    overflow: hidden;
}

.profile {
    width: 30%;
    min-width: 300px;
    padding: 30px;
    margin: 18px;
    background-color: rgba($color: $color-light, $alpha: .6);
    color: #333;
    border-radius: 3px;
    float: left;
    
    &__image {
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
    }

    &__name {
        font-family: 'Caveat', cursive;
        font-size: 30px;
        text-align: center;
        padding: 7px;
    }

    &__title {
        text-align: center;
        padding: 3px;
    }

    &__bio {
        font-size: 16px;
        height: 85px;
    overflow: auto;
    }
}
